sudo: false
language: go
env:
  - GO111MODULE=on
go:
  - 1.11.x
  - 1.12.x
  - 1.13.x
  - master
git:
  depth: 1
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - go test -race -coverprofile=c.out
after_script:
  - ./cc-test-reporter after-build -p "query" --exit-code $TRAVIS_TEST_RESULT
